@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Mulish', sans-serif;
  --color-black: #1C1C1C;
  --color-black-light: #363938;
  --color-gray: #7C7C7C;
  --color-primary: #39B5E0;
  --color-primary-light: #f5fafc;
  --color-secondary: #FF6363;
  --color-tertiary: #1EAE98;
  --color-background: #DAE0E6;
  --color-background-light: #F8F9FA;
  --color-hover: #B2B7B8;
  --color-category-green: #62D878;
  --color-category-blue: #287DBE;
  --color-category-purple: #A55F8D;
  --color-category-yellow: #FFDC53;
  --color-category-pink: #FF66AC;
}

body {
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-background);
  box-sizing: border-box;
  overflow-y: scroll;
}

input {
  background: transparent;
  border: none
}

input:focus {
  outline: none;
}

@layer base {
  html {
    font-family: var(--font-family)
  }

  h2 {
    @apply text-xl font-bold
  }

  h3 {
    @apply text-lg font-bold
  }

  p {
    @apply text-base leading-[18px]
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center
  }

  .flex-between {
    @apply flex justify-between items-center
  }

  .flex-between-10 {
    @apply flex justify-between items-center gap-[10px]
  }

  .flex-start {
    @apply flex items-center
  }

  .flex-start-10 {
    @apply flex items-center gap-[10px]
  }

  .flex-col-start-10 {
    @apply flex flex-col gap-[10px] items-start
  }

  .flex-end {
    @apply flex justify-end items-center
  }

  .button-main {
    @apply bg-primary rounded-3xl text-white font-bold py-1 hover:opacity-90 px-8
  }

  .hover-border-blue {
    @apply hover:border hover:border-blue-600 hover:bg-white
  }

  .feed-tab {
    @apply py-2 pl-[20px] pr-3
  }

  .label-sm {
    @apply text-xs text-gray font-bold
  }

  .label-md {
    @apply text-sm text-black-light font-bold
  }
}