@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Mulish', sans-serif;
  --color-black: #1C1C1C;
  --color-black-light: #363938;
  --color-light-gray: #CCC;
  --color-gray: #7C7C7C;
  --color-primary: #39B5E0;
  --color-primary-light: #f5fafc;
  --color-secondary: #FF6363;
  --color-tertiary: #1EAE98;
  --color-background: #DAE0E6;
  --color-background-light: #F8F9FA;
  --color-hover: #B2B7B8;
  --color-category-green: #62D878;
  --color-category-blue: #287DBE;
  --color-category-purple: #A55F8D;
  --color-category-yellow: #FFDC53;
  --color-category-pink: #FF66AC;
}

body {
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-background);
  box-sizing: border-box;
  overflow-y: scroll;
}

input {
  background: transparent;
  border: none
}

input:focus {
  outline: none;
}

@layer base {
  html {
    font-family: var(--font-family)
  }

  h1 {
    @apply text-3xl font-bold
  }

  h2 {
    @apply text-xl font-bold
  }

  h3 {
    @apply text-lg font-bold
  }

  p {
    @apply text-base leading-[18px]
  }

  .main-container {
    @apply 2xl:w-[1020px] w-[90%] mx-auto
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center
  }

  .flex-between {
    @apply flex justify-between items-center
  }

  .flex-around {
    @apply flex justify-around items-center
  }

  .flex-between-10 {
    @apply flex justify-between items-center gap-[10px]
  }

  .flex-start {
    @apply flex items-center
  }

  .flex-start-10 {
    @apply flex items-center gap-[10px]
  }

  .flex-col-start-10 {
    @apply flex flex-col gap-[10px] items-start
  }

  .flex-col-center-10 {
    @apply flex flex-col items-center gap-[10px]
  }

  .flex-end {
    @apply flex justify-end items-center
  }

  .button-main {
    @apply bg-primary rounded-3xl text-white font-bold py-1 hover:opacity-90 px-8
  }

  .button-main-outline {
    @apply bg-light rounded-3xl text-primary font-bold py-1 border border-primary hover:bg-primary-light px-8
  }

  .button-light {
    @apply bg-light rounded-full py-1 px-3 font-bold
  }

  .button-hover {
    @apply bg-white rounded-3xl text-cate-blue font-bold py-1 hover:bg-medium px-3
  }

  .hover-border-blue {
    @apply border border-medium hover:border hover:border-blue-600 hover:bg-white
  }

  .feed-tab {
    @apply py-2 pl-[20px] pr-3
  }

  .label-sm {
    @apply text-xs text-gray font-bold
  }

  .label-md {
    @apply text-sm text-black-light font-bold
  }

  .link {
    @apply text-primary hover:opacity-90 cursor-pointer
  }

  .filter-post {
    @apply py-2 px-5 rounded-3xl flex-start-10
  }

  .white-gray-rounded {
    @apply bg-white border border-light-gray rounded-sm
  }

  .post-action {
    @apply flex-start gap-[5px] hover:bg-medium rounded-sm p-2 font-bold text-gray cursor-pointer
  }

  .post-action-disable {
    @apply flex-start gap-[5px] rounded-sm p-2 font-bold text-gray
  }

.img-14 {
  @apply w-[14px] h-[14px] rounded-full object-cover object-[center,top] bg-medium
}

  .img-24 {
    @apply w-[24px] h-[24px] rounded-full object-cover object-[center,top]
  }

  .img-35 {
    @apply w-[35px] h-[35px] rounded-full object-cover object-[center,top] bg-medium
  }

  .img-40 {
    @apply w-[40px] h-[40px] rounded-full object-cover object-[center,top] bg-medium
  }

  .username {
    @apply text-xs text-black-light font-bold
  }
}